<!DOCTYPE html>
<html ng-app="testapp">
    <head>
        <title>Angular SEO Test</title>
        <meta name="google-site-verification" content="SpD5B0R_ICs3Vd6SHU3FAVjOCsy23IjoDFDdYF3Lvhg" />
        <meta name="msvalidate.01" content="13A67851B08DBD9BDA726B2D14979494" />
        <% styles.forEach( function ( file ) { %>
            <link rel="stylesheet" type="text/css" href="/<%= file %>"/>
        <% }); %>
    </head>
    <body>

        <div ui-view></div>

        <% scripts.forEach( function ( file ) { %>
            <script type="text/javascript" src="/<%= file %>"></script>
        <% }); %>

    </body>
</html>